<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <title>Insotec Aktivai</title>
        <link th:href="@{/css/estilo.css}" rel="stylesheet">
    </head>
    <body>
        <header th:insert="fragments/nav_bar::nav_bar"></header>
        <div class="container">
            <h1>USUARIOS</h1>
            <div id="search-box">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div>
                <!--
                    <a id="button_create" th:href="@{/usuarios/crear}" type="button" class="btn btn-primary">Nuevo</a>
                -->
                    <a id="button_create" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearUsuarioModal">
                    Nuevo
                </a>
            </div>
            <div th:if="${msg != null}" class="alert alert-success" th:text="${msg}" role="alert"></div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario:${usuarios}">
                    <td class=".idUsuarioTabla" th:text="${usuario.idUsuario}">
                    </td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.roles[0].rol}"></td>
                    <td th:text="${usuario.estatus}?'Activo':'Inactivo'"></td>
                    <td>
                            <a title="Detalles" th:href="@{/usuarios/detalle/{id} (id=${usuario.idUsuario}) }">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                </svg>
                            </a>      
                            <!-- <a th:href="@{/usuarios/detalle/{id} (id=${usuario.idUsuario}) }" type="button" class="btn btn-primary botonDetallesUsuario" data-bs-toggle="modal" data-bs-target="#detallesUsuarioModal">
                                Detalles Modal 
                            </a> -->
                            <a title="Editar" th:href="@{/usuarios/editar/{id} (id=${usuario.idUsuario}) }">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a> 
                    </td>
                </tr>
                </tbody>    
            </table>
            <nav th:if="${usuarios.totalPages > 0}" aria-label="Page navigation example" >
                <ul class="pagination">
                <li class="page-item"><a th:href="@{/usuarios/tablaUsuariosPaginada (page=${usuarios.number - 1})}" class="page-link">Anterior</a></li>
                <li class="page-item"><a th:href="@{/usuarios/tablaUsuariosPaginada (page=${usuarios.number + 1})}" class="page-link">Siguiente</a></li>
                </ul>
            </nav>
        </div>
        
        <!-- Modal para detalles de usuario -->
        <!--
        <div class="modal fade" id="detallesUsuarioModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="detallesUsuarioModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Detalles de Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row align-items-start">
                            <div class="col-3">
                                <img id="imageAvatar" th:src="@{/images/Image_avatar.png}" class="rounded-circle" alt="Cinque Terre">
                            </div>
                            <div id="detallesUsuario" class="col-8">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!-- Modal para crear un usuario -->
        <form th:action="@{/usuarios/guardar}" method="post" th:object="${usuario}" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
            <div class="modal fade" id="crearUsuarioModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="crearUsuarioModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crear Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3">
                                <h6>Subir Avatar</h6>
                                <input type="file" class="form-control" name="imagenAvatarUsuario"></input>
                                <div class="invalid-feedback">Archivo no válido</div>
                            </div>

                            <div class="mb-3">
                                <label for="validationServer01" class="form-label">Nombre Completo</label>
                                <input type="text" name="nombre" aria-describedby="name" class="form-control is-valid" id="inputNombreUsuario" required>
                                <div class="invalid-feedback">
                                    Ingrese el nombre completo.
                                </div>
                            </div>                            

                            <div class="mb-3">
                                <label for="validationServer01" class="form-label">Ingrese una contraseña</label>
                                <input type="password" name="password" aria-describedby="password" class="form-control is-valid" id="inputPassword" required>
                                <div class="invalid-feedback">
                                    Ingresa una contraseña para este usuario.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="validationCustom04" class="form-label">Seleciona el rol para el usuario</label>
                                <select name="roles" id="rollSelect" class="form-select" required>
                                    <option selected disabled value="">Seleciona un rol</option>
                                    <div th:each="rol : ${roles}">
                                        <option th:value="${rol.idRol}" th:text="${rol.rol}"></option>
                                    </div>
                                </select>
                                <div class="invalid-feedback">
                                    Selecciona un rol para este usuario.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="validationEmailUsuario" class="form-label">Ingrese un correo electrónico</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailUsuario" required>
                                    <div class="invalid-feedback">
                                        Ingrese un correo electrónico.
                                    </div>
                                </div>
                            </div>

                            <div class="form-check form-switch">
                                <input name="estatus" id="flexSwitchCheckDefault" class="form-check-input" type="checkbox" checked> 
                               <label id="flexSwitchCheckDefaultText" class="form-check-label" for="flexSwitchCheckDefault">Activo/Bloqueado</label>
                           </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            <button id="botonFicticio" type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <footer th:insert="fragments/footer::footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"></footer>
 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

        <!-- JavaScript para el funcionamiento del modal de detalles de usuario -->
        <script th:src="@{/javascript/Scripts.js}"></script>
        <script th:src="@{/javascript/ScriptValidaciones.js}"></script>

    </body>
</html>

