<div th:fragment="footer" class="container">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Insotec Aktivai</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/CCTVSeguridadMex/"><svg class="bi" width="24" height="24"><use th:href="@{/images/icons_facebook.svg}"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="https://api.whatsapp.com/send?phone=525587940618"><svg class="bi" width="24" height="24"><use href="@{/images/icons_whatsapp.svg}"></use></svg></a></li>
      </ul>
</div>